*
!/**/

# Список разрешённых папок
!/sway/**
!/waybar/**
!/wofi/**
!/mc/**
!/gnome-boxes/**
!/nvim/**
!/alacritty/**
!/tmux/**
!/vifm/**
!/cmus/**
!/keyboards/**
!/.bashrc
!/.shared_aliases
!/tmux_intech.sh

