# Игнорировать все файлы и папки по умолчанию
*

# Отменить игнорирование для нужных папок
!nvim/
!alacritty/
!tmux/

# Отменить игнорирование файлов внутри этих папок
!nvim/*
!alacritty/*
!tmux/*

# Отменить игнорирование всех файлов внутри отслеживаемых папок
!nvim/**
!alacritty/**
!tmux/**

