*
!/**/
vifm/vifminfo.json
gnome-boxes/sources/**


# Список разрешённых папок
!/sway/**
!/waybar/**
!/wofi/**
!/mc/**
!/gnome-boxes/**
!/nvim/**
!/nvim-v10/**
!/alacritty/**
!/tmux/**
!/vifm/**
# !/cmus/**
!/keyboards/**
!/.bashrc
!/.shared_aliases
!/tmux_intech.sh

